body {
	color: #000;
	font-family: "Open Sans";
	padding-bottom: 24px;
}

#hoja .fa-ul li {
	line-height: 18px;
	margin-top: 14px;
}

#hoja .panel {
	font-size: 14px;
	height: 100%;
	margin-bottom: 0;
}

#hoja .progress {
	height: 10px;
	margin-bottom: 0 !important;
}

#hoja .row:nth-of-type(1) {
	padding-top: 1cm;
}

#hoja .row:nth-of-type(2), #hoja .row:nth-of-type(3), #hoja .row:nth-of-type(4) {
	display: flex;
	margin-top: 0.5cm;
}

#hoja .row:nth-of-type(2) .col-xs-6:nth-of-type(2) ul:nth-of-type(1) {
	line-height: 24px;
	margin-bottom: 0;
	padding-left: 24px;
}

#hoja .row .col-xs-6 {
	padding-left: 8px;
	padding-right: 8px;
}

#hoja .table {
	margin-bottom: -10px;
}

#hoja .table tr td:nth-of-type(1) {
	font-size: 12px;
	width: 20%;
}

#hoja .table tr td:nth-of-type(2) {
	vertical-align: middle;
	width: 80%;
}

#hoja .titulo {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

#hoja .panel-heading > .titulo {
	color: #fff !important;
}

#hoja .well .fa-ul li span {
	font-weight: bold;
}

@page {
	margin: 0;
	size: 8.5in 11in;
}

@media print {
	.container {
		width: 90%;
	}

	.panel-primary > .panel-heading {
		background-color: #158cba !important;
	}

	.progress-bar {
		background-color: #158cba !important;
		box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15) !important;
		color: #fff !important;
	}

	.well {
		background-color: #fafafa !important;
	}

	#hoja {
		font-size: 12px;
	}

	#hoja .fa-ul li {
		line-height: 14px;
		margin-top: 5px;
	}

	#hoja .panel {
		font-size: 10px !important;
	}

	#hoja .progress {
		height: 6px;
	}

	#hoja .row:nth-of-type(2) .col-xs-6:nth-of-type(2) ul:nth-of-type(1) {
		line-height: 20px;
		padding-left: 20px;
	}

	#hoja .table tr td:nth-of-type(1) {
		font-size: 10px;
	}
}