body {
	margin: 0;
}

#dropzone {
	cursor: pointer;
	height: 100vh;
	opacity: 0;
	width: 100vw;
}

#dropzone + label {
	color: #ddd;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font: bold 2.5vw "Verdana";
	height: 100%;
	left: 0;
	pointer-events: none;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
}

#dropzone + label span {
	font-size: 1.25vw;
}

#table {
	border-collapse: collapse;
	font-family: "Verdana";
	font-size: 12px;
}

#table, #table td {
	border: 1px solid #000;
}